.sidebar {
  border-right: 1px solid #37393C;
  min-height: 100vh;

  &__profile {
    padding: 1.2rem 1.6rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
      border-radius: 50%;
      height: 4rem;
    }

    &-icons {
      display: flex;
      align-items: center;
      gap: 1.2rem;
    }
  }

  &__search {
    border-bottom: 1px solid #37393C;
    padding: 1.2rem 1.6rem 2.4rem 1.6rem;

    form {
      border-radius: 3px;
      background-color: #26272D;

      padding: 0.8rem 1.2rem;

      display: flex;
      gap: 0.8rem;

      &:hover {
        outline: 1px solid #36373F;
      }

      input {
        font-size: 1.4rem;
        line-height: inherit;
        color: inherit;
        background-color: inherit;
        border: 0;

        width: 100%;
      }

      input:focus {
        outline: none;
      }
    }
  }

  &__stories {
    border-bottom: 1px solid #37393C;
    padding: 2.4rem;

    h2 {
      margin-bottom: 1.6rem;
    }

    &-users {
      display: flex;
      gap: 1.6rem;

      width: 100%;
      overflow-x: scroll;
    }

    &-user {
      border-radius: 50%;

      height: 4.8rem;
      min-width: 4.8rem;
      margin: 4px;

      &:hover {
        outline-offset: 2px;
        // theme color
        outline: 2px solid #a855f7;
        cursor: pointer;
      }

      &--icon {
        // theme color
        background-color: #a855f7;

        display: flex;
        align-items: center;
        justify-content: center;

        svg {
          display: block;
        }
      }
    }
  }
}
